body {
    background-color: aqua;
    color: hsl(0, 0%, 22%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

img {
    max-width: 100%;
}

.logo {
    max-width: 60px;
}

.main-header {
    display: flex;
   /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: hsl(138, 99%, 47%);
    align-items: flex-end;
    padding: 10px 20px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.navigation a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(126, 36, 36);
}

.banner {
    background-image: url("../images/pexels-jon-gol-253752729-12532755.jpg");
    background-position: center;
    background-size:  cover;
    min-height: 50vh;
    display: grid;
    place-items: center;
}

.banner h1 {
    color: #1100fc;
    background-color: hsla(0, 0%, 0%, 0.363);
    padding: 10px;
}

.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}

.card-image {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.card {
    border: 1px solid #04040c;
}

.card-content {
    padding: 1em;
}

.card-button {
    background-color: #04040c;
    color: white;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 75%;
    align-self: center;

}

.main-footer {
    background-color: #04040c;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-footer a{
    color:white;
    text-decoration: none;
}

.main-footer a:hover {
    color: white;
}